.section
  %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td{ :valign => :top }
        .label.top.req Field label:
        = f.text_field :field_label, :style => "width:140px"
      %td= spacer
      %td{ :valign => :top }
        .label.top.req Field type:
        = f.select :field_type, Customfield::FIELD_TYPES, { :style => "width:140px", :disabled => @disabled }
    %tr
      %td{ :valign => :top }
        .label.top.req Table:
        = @customfield.table_name
    %tr
      %td{ :valign => :top }
        .label.top.req Max Size:
        = f.text_field :max_size, :style => "width:40px"
      %td= spacer
      %td{ :valign => :top }
        .label.top.req Width:
        = f.text_field :display_width, :style => "width:40px"

    %tr
      %td{ :valign => :top }
        .label.top.req Required:
        = f.check_box :required
      %td= spacer
      %td{ :valign => :top }
        .label.top.req Disabled:
        = f.check_box :disabled

    = hook(:customfield_top_section_bottom, self, :f => f)

