- controller = params[:controller]
- asset = controller.singularize
#super_tags
  - f.object.tags.each do |super_tag|
    - unless super_tag.customfields.empty?
      = render :partial => "/common/super_tag_section", :locals => {:f => f, :super_tag => super_tag}
  = javascript_tag "crm.set_tag_list_event('#{controller}', '#{asset}', '#{params[:id]}');"

