- asset = controller_name.singularize
- f.object.tags = unsaved_param_tags(asset) if params[asset] && params[asset][:tag_list]
- tag_forms = {}
#super_tags
  - f.object.tags.each do |super_tag|
    - unless super_tag.customfields.empty?
      - tag_forms[super_tag.name.downcase] = "supertag-form#{super_tag.id}"
      %div{:id => "supertag-form#{super_tag.id}"}
        = render :partial => "/common/super_tag_section", :locals => {:f => f, :super_tag => super_tag}
  :javascript
    // if fbtaglist is initialized..
    if(fbtaglist) {
      crm.set_tag_list_event('#{controller_name}', '#{asset}', '#{params[:id]}');
      // Reset 'loadedSupertagForms' hash.
      loadedSupertagForms = $H(#{tag_forms.to_json});
    }
    
= javascript_tag initialize_tooltips_js("#super_tags img.tooltip-icon") # Initialize tooltips (if any)
