- controller = params[:controller]
- asset = controller.singularize
- tag_forms = {}
#super_tags
  - f.object.tags.each_with_index do |super_tag, i|
    - unless super_tag.customfields.empty?
      - tag_forms[super_tag.name] = "supertag-form#{i}"
      %div{:id => "supertag-form#{i}"}
        = render :partial => "/common/super_tag_section", :locals => {:f => f, :super_tag => super_tag}
  = javascript_tag "crm.set_tag_list_event('#{controller}', '#{asset}', '#{params[:id]}');"
  = javascript_tag "loadedSupertagForms.update(#{tag_forms.to_json});"

